@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<h3>jritchie Bug Tracker.</h3>
<p>The Bug Tracker is a Web-based software application designed to mirror any of a wide variety of bug tracking software systems in use by corporations throughout world. If a company develops software, whether for in-house use or distribution, it uses a bug tracking system to maintain an accurate record of the software development process on a per-project basis.</p>
