@{
    ViewBag.Title = "Home Index";
}




<div class="wrapper-page">
    <div class="m-t-0 card-box">

        <div class="text-center">
            <a href="#" class="logo"><span>Resolve<span>()</span></span></a>
            <h4 class="text-muted m-t-0 m-b-30 font-600">Issue Management</h4>
        </div>

    </div>
    <!-- end card-box-->
</div>
<!-- end wrapper page -->
